<footer class="footer">
  <small>
    The Insta Clone by j.h
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   pages_about_path    %></li>
      <li><%= link_to "Contact", pages_contact_path  %></li>
    </ul>
  </nav>
</footer>
